.rowOne {
    background-color: #0d1e2d;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.custom-menu {
    list-style: none;
    display: flex;
    background-color: teal;
}
.rowTwo {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
}
.rowThree {
}
.rowFive {
    background-color:#eceff2;
    width: 100%;
}
.itemImg {
    width: 340px;
    height: 320px;
    object-fit: cover;
    border-radius: 2px;
}
.itemFive {
    width: 100%;
    /* background-color: yellow; */
}
.child {
    /* background-color: violet;     */
    text-align: center;
    border-radius: 2px;
    width: 40%;
    margin: auto;
}
.ceoImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}