.header-container {
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
}
.custom-menu {
    list-style: none;
    display: flex;
}
.menu-items {
    cursor: pointer;
    color: #4B3049;
    font-size: 1.3em;

}
.header-icons {
    font-size: 1.3rem;
}
a:hover {
    color:#B08EAD;
    text-decoration: none;
}