.footer-wrap {
    border-top: solid black 2px;
}
.footer-container {
background-color: #FFF;
font-family: 'Poppins', sans-serif;
}
.footer-copyright {
    background-color: #faba00;
}
.socials-icons {
    font-size: 2em;
    /* color:#4B3049; */
    color: #19334d;
}
@media screen and (max-width: 769px) {
    .custom-menu {
        display: none;
        background-color: tomato;
    }
}