/* .aboutImg {
    background-image: url("/src/assets/deco.jpg");
}
.about-us-info {
    background-color: #0d1e2d;
} */

.about-container {

}
.about-heading {
    /* background-color: teal; */
    text-align: center;
    font-size: 3em;
}