.about-container {
    background-color: #204060;
}
.about-heading {
    text-align: center;
    font-size: 3em;
    color: #fff;
}
.about-row {
    display: flex;
    justify-content: center;
}
.about-us-text {
    text-align: center;
    line-height: 2.5rem;
    color: #22262b;
}