
.about-container {

}
.about-heading {
    /* background-color: teal; */
    text-align: center;
    font-size: 3em;
    color: #fff;
}
.about-row {
    display: flex;
    justify-content: center;
}
/* .about-text {
    display: flex;
    justify-content: center;
} */